@import url("reset.css");

@font-face {
	font-family: 'Cafe24Simplehae';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff');
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff");

body {
	font-family: 'Cafe24Simplehae';
}

/* 헤더파트 */
.header {
	display: block;
	background-color: orange;
	font-weight: bold;
}

.header_wrapper {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	max-width: 1200px;
	display: grid;
	grid-template-columns: 150px 500px 540px;
	align-items: center;
}

.header_column i {
	font-size: 2.0em;
}

.header_column form {
	margin-left: 30px;
	text-align: justify;
}

.header_column form input {
	width: 200px;
	height: 30px;
	border-radius: 5px;
}

.header_column ul {
	display: flex;
	font-size: 1.2em;
}

.header_column ul li {
	margin-left: 30px;
}
.header_column ul li a {
	text-decoration: none;
	color: black;
}
.header_column:last-child {
	justify-self: end;
}
/* 메인파트 */
.main {
	min-height: 700px;
	width: 1202px;
	margin: 0 auto;
}

/* 메인_nav파트 */
.nav {
	float: left;
	position: sticky;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 100%;
	bottom: auto;
	background-color: #f0efef;
}

.nav li a {
	padding-left: 15px;
	text-decoration: none;
	color: black;
}

.nav_wrapper ul li ul li {
	margin: 10px;
	padding-left: 15px;
	font-size: smaller;
}
.main_h2 {
	margin-left: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 1.5em;
}
/* 메인_section파트 */
.section {
	display: inline-block;
	position: relative;
	width: 1050px;
	height: 100%;
	right: 0px;
	top: 0px;
	margin: 0 auto;
}

/* main.jsp에 있던 css코드들은 이곳에 있었음 */

/* 푸터파트 */
.footer {
	clear: both;
	display: block; background-color : gold;
	height: 200px;
	margin: 0 auto;
	text-align: center;
	background-color: orange;
}

.footer_wrapper {
	width: 100%;
	height: 200px;
	width: 1200px;
	margin: 0 auto;;
	text-align: justify;
}

.footer_wrapper p {
	padding-left: 150px;
	margin-bottom: 15px;
}

.footer_title {
	padding-top: 50px;
	font-size: 1.2em;
	font-weight: 700;
}

.footer_link {
	
}

.footer_info {
	
}

